# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
* @borda @SkafteNicki @justusschock @ananyahjha93 @tchaton

# owners
/.github/CODEOWNERS   @williamFalcon
# main
/README.md            @borda @SkafteNicki @edenlightning
# installation
/setup.py             @borda @SkafteNicki @tchaton

# Base API
/torchmetrics/metric.py  @SkafteNicki @justusschock @tchaton


# CI/CD
/.github/workflows/   @borda @tchaton
# configs in root
/*.yml                @borda @tchaton

# Docs
/docs/                          @edenlightning @SkafteNicki @borda
/.github/*.md                   @edenlightning @SkafteNicki @borda
/.github/ISSUE_TEMPLATE/*.md    @edenlightning @borda @SkafteNicki
/docs/source/conf.py            @borda @awaelchli
