# Manifest syntax https://packaging.python.org/en/latest/guides/using-manifest-in/
graft wheelhouse

recursive-exclude __pycache__  *.py[cod] *.orig
# include also models
recursive-include src *.pth

# Include the README and CHANGELOG
include *.md
recursive-include src *.md

# Include the license file
include LICENSE

# Include Citation file
include *.cff

# Include marker file for PEP 561
recursive-include src *.typed

exclude *.sh
exclude *.toml
exclude *.svg

# exclude tests from package
recursive-exclude tests *
recursive-exclude site *
exclude tests

# Exclude the documentation files
recursive-exclude docs *
exclude docs

# Include the Requirements
include requirements.txt
recursive-include requirements *.txt
recursive-exclude requirements *.py

# Exclude build configs
exclude *.yml
exclude *.yaml
exclude Makefile

prune .devcontainer
prune .git
prune .github
prune examples*
prune temp*
prune test*
prune SandBox*
