# Manifest syntax https://docs.python.org/2/distutils/sourcedist.html
graft wheelhouse

recursive-exclude __pycache__  *.py[cod] *.orig

# Include the README and CHANGELOG
include *.md
recursive-include torchmetrics *.md

# Include the license file
include LICENSE

# Include marker file for PEP 561
include torchmetrics/py.typed

exclude *.sh
exclude *.toml
exclude *.svg

# exclude tests from package
recursive-exclude tests *
recursive-exclude site *
exclude tests

# Exclude the documentation files
recursive-exclude docs *
exclude docs

# Include the Requirements
include requirements.txt
recursive-include requirements *.txt
recursive-exclude requirements *.py

# Exclude build configs
exclude *.yml
exclude *.yaml
exclude Makefile

prune .git
prune .github
prune .circleci
prune notebook*
prune temp*
prune test*
prune benchmark*
prune integration*
