[metadata]
license_file = "LICENSE"
description-file = "README.md"

[build-system]
requires = [
    "setuptools",
    "wheel",
]


[tool.check-manifest]
ignore = [
    "*.yml",
    ".github",
    ".github/*"
]


[tool.pytest.ini_options]
norecursedirs = [
    ".git",
    ".github",
    "dist",
    "build",
    "docs",
]
addopts = [
    "--strict-markers",
    "--doctest-modules",
    "--doctest-plus",
    "--color=yes",
    "--disable-pytest-warnings",
]
# ToDo
#filterwarnings = ["error::FutureWarning"]
xfail_strict = true
junit_duration_report = "call"

[tool.coverage.report]
exclude_lines = [
    "pragma: no cover",
    "pass",
]

[tool.coverage.run]
parallel = true
concurrency = "thread"
relative_files = true


[tool.black]
# https://github.com/psf/black
line-length = 120
exclude = "(.eggs|.git|.hg|.mypy_cache|.venv|_build|buck-out|build|dist)"

[tool.isort]
known_first_party = [
    "torchmetrics",
    "integrations",
    "unittests",
    "integrations",
]
skip_glob = []
profile = "black"
line_length = 120


[tool.ruff]
line-length = 120
# Enable Pyflakes `E` and `F` codes by default.
select = [
    "E", "W",  # see: https://pypi.org/project/pycodestyle
    "F",  # see: https://pypi.org/project/pyflakes
    "D",  # see: https://pypi.org/project/pydocstyle
    "N",  # see: https://pypi.org/project/pep8-naming
    "S",  # see: https://pypi.org/project/flake8-bandit
]
extend-select = [
    "C4",  # see: https://pypi.org/project/flake8-comprehensions
    "PT",  # see: https://pypi.org/project/flake8-pytest-style
    "RET",  # see: https://pypi.org/project/flake8-return
    "SIM",  # see: https://pypi.org/project/flake8-simplify
    "YTT",  # see: https://pypi.org/project/flake8-2020
    "ANN",  # see: https://pypi.org/project/flake8-annotations
    "T10",  # see: https://pypi.org/project/flake8-debugger/
    "Q",  # see: https://pypi.org/project/flake8-quotes/
    "RUF",  # Ruff-specific rules
]
ignore = [
    "E731",  # Do not assign a lambda expression, use a def
    "F401",  # Imports of __all__
    "D100",  # Missing docstring in public module
    "D104",  # Missing docstring in public package
    "D107",  # Missing docstring in `__init__`
    "ANN101",  # Missing type annotation for `self` in method
    "ANN102",  # Missing type annotation for `cls` in classmethod
    "S301",  # `pickle` and modules that wrap it can be unsafe when used to deserialize untrusted data, possible security issue  # todo
    "S310",  # Audit URL open for permitted schemes. Allowing use of `file:` or custom schemes is often unexpected.  # todo
]
# Exclude a variety of commonly ignored directories.
exclude = [
    ".eggs",
    ".git",
    ".mypy_cache",
    ".ruff_cache",
    "__pypackages__",
    "_build",
    "build",
    "dist",
    "docs"
]
ignore-init-module-imports = true
unfixable = ["F401"]

[tool.ruff.per-file-ignores]
"setup.py" = ["ANN202", "ANN401"]
"src/**" = ["ANN401"]
"tests/**" = [
    "S101", "ANN001", "ANN201", "ANN202", "ANN401"
]

[tool.ruff.pydocstyle]
# Use Google-style docstrings.
convention = "google"

#[tool.ruff.pycodestyle]
#ignore-overlong-task-comments = true

[tool.ruff.mccabe]
# Unlike Flake8, default to a complexity level of 10.
max-complexity = 10


[tool.mypy]
files = [
    "src/torchmetrics",
]
install_types = "True"
non_interactive = "True"
disallow_untyped_defs = "True"
ignore_missing_imports = "True"
show_error_codes = "True"
warn_redundant_casts = "True"
warn_unused_configs = "True"
warn_unused_ignores = "True"
allow_redefinition = "True"
# disable this rule as the Trainer attributes are defined in the connectors, not in its __init__
disable_error_code = "attr-defined"
# style choices
warn_no_return = "False"

# Ignore mypy errors for these files
# TODO: the goal is for this to be empty
[[tool.mypy.overrides]]
module = [
    "torchmetrics.classification.accuracy",
    "torchmetrics.classification.auroc",
    "torchmetrics.classification.average_precision",
    "torchmetrics.classification.calibration_error",
    "torchmetrics.classification.cohen_kappa",
    "torchmetrics.classification.confusion_matrix",
    "torchmetrics.classification.exact_match",
    "torchmetrics.classification.f_beta",
    "torchmetrics.classification.group_fairness",
    "torchmetrics.classification.hamming",
    "torchmetrics.classification.hinge",
    "torchmetrics.classification.jaccard",
    "torchmetrics.classification.matthews_corrcoef",
    "torchmetrics.classification.precision_recall",
    "torchmetrics.classification.precision_recall_curve",
    "torchmetrics.classification.ranking",
    "torchmetrics.classification.recall_at_fixed_precision",
    "torchmetrics.classification.roc",
    "torchmetrics.classification.specificity",
    "torchmetrics.classification.stat_scores",
    "torchmetrics.collections",
    "torchmetrics.detection.mean_ap",
    "torchmetrics.functional.audio.pit",
    "torchmetrics.functional.classification.calibration_error",
    "torchmetrics.functional.classification.confusion_matrix",
    "torchmetrics.functional.classification.f_beta",
    "torchmetrics.functional.classification.group_fairness",
    "torchmetrics.functional.classification.precision_recall_curve",
    "torchmetrics.functional.classification.ranking",
    "torchmetrics.functional.classification.recall_at_fixed_precision",
    "torchmetrics.functional.classification.roc",
    "torchmetrics.functional.classification.stat_scores",
    "torchmetrics.functional.image.helper",
    "torchmetrics.functional.image.psnr",
    "torchmetrics.functional.image.ssim",
    "torchmetrics.functional.image.uqi",
    "torchmetrics.functional.multimodal.clip_score",
    "torchmetrics.functional.retrieval.r_precision",
    "torchmetrics.image.fid",
    "torchmetrics.image.inception",
    "torchmetrics.image.lpip",
    "torchmetrics.image.psnr",
    "torchmetrics.image.ssim",
    "torchmetrics.image.tv",
    "torchmetrics.image.uqi",
    "torchmetrics.retrieval.precision_recall_curve",
]
ignore_errors = "True"
