{%- set external_urls = {
  'github': 'https://github.com/Lightning-AI/torchmetrics',
  'github_issues': 'https://github.com/Lightning-AI/torchmetrics/issues',
  'contributing': 'https://github.com/Lightning-AI/torchmetrics/blob/master/.github/CONTRIBUTING.md',
  'docs': 'https://lightning.ai/docs/torchmetrics/latest',
  'twitter': 'https://twitter.com/PyTorchLightnin',
  'discuss': 'https://pytorch-lightning.slack.com',
  'previous_pytorch_versions': 'https://torchmetrics.rtfd.io/en/latest/',
  'home': 'https://torchmetrics.rtfd.io/en/latest/',
  'get_started': 'https://lightning.ai/docs/torchmetrics/latest/pages/quickstart.html',
  'blog': 'https://www.pytorchlightning.ai/blog',
  'support': 'https://github.com/Lightning-AI/torchmetrics/issues',
  'community': 'https://pytorch-lightning.slack.com',
  'forums': 'https://pytorch-lightning.slack.com',
}
-%}
