{%- set external_urls = {
  'github': 'https://github.com/PytorchLightning/metrics',
  'github_issues': 'https://github.com/PytorchLightning/metrics/issues',
  'contributing': 'https://github.com/PyTorchLightning/metrics/blob/master/.github/CONTRIBUTING.md',
  'docs': 'https://torchmetrics.readthedocs.io/en/latest',
  'twitter': 'https://twitter.com/PyTorchLightnin',
  'discuss': 'https://pytorch-lightning.slack.com',
  'previous_pytorch_versions': 'https://torchmetrics.rtfd.io/en/latest/',
  'home': 'https://torchmetrics.rtfd.io/en/latest/',
  'get_started': 'https://torchmetrics.readthedocs.io/en/latest/quickstart.html',
  'blog': 'https://www.pytorchlightning.ai/blog',
  'support': 'https://github.com/PytorchLightning/metrics/issues',
}
-%}
