name: Greetings
# https://github.com/marketplace/actions/first-interaction

on: [issues] # pull_request

jobs:
  greeting:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/first-interaction@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          issue-message: "Hi! Thanks for your contribution! Great first issue!"
          pr-message: "Hey thanks for the input! Please give us a bit of time to review it!"
