name: "Build & Push Docker Devcontainer"

on:
  push:
    branches: [master]

jobs:
  build-devcontainer:
    runs-on: ubuntu-20.04
    timeout-minutes: 15
    strategy:
      fail-fast: false
      matrix:
        python_version: ["3.9"]
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and Push Devcontainer
        # publish master/release
        uses: docker/build-push-action@v2
        with:
          build-args: |
            VARIANT=${{ matrix.python_version }}
          file: .devcontainer/Dockerfile
          push: true
          tags: pytorchlightning/metrics-dev
        timeout-minutes: 50
